body {
	background: #ededed;
	padding-bottom: 100px;
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

.page-header {
	position: relative;
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-bottom: 1px solid #eee;
}

.header {
	background: #33637F;
	box-shadow: 0px 5px 5px 0px #4a4a4a;
}

.header .header-icon {
	transform: rotateY(180deg);
	height: 50px;
	width: auto;
	margin-top: 10px;
}

.cart {
	display: inline-block;
	cursor: pointer;
	width: 7%;
	font-size: 36px;
	vertical-align: middle;
}

.filter {
	z-index: 99;
	overflow: hidden;
	display: none;
	position: relative;
}

.filter ul {
	position: relative;
	list-style: none;
	text-align: left;
	height: 165px;
	padding: 0;
	margin-top: 20px;
	background: white;
	border-radius: 10px;
	padding: 10px 5px;
	vertical-align: top;
	border: 1px solid silver;
}

.filter ul img {
	position: absolute;
	right: 33px;
	bottom: 13px;
	width: 100px;
	height: 100px;
}

.btn-filter {
	opacity: 1;
	color: silver;
	background-color: royalblue;
	border
  border-color: red;
	margin-right: 5px;
}

.filter li {
	text-align: left;
}

.filter ul li:first-child {
	border-bottom: 1px solid black;
	font-weight: bold;
	text-align: center;
	padding-bottom: 5px;
	margin-bottom: 5px;
	display: block;
}

.filter li:first-child input {
	width: 50%;
	text-align: center;
	margin: 0 15px 5px 15px;
}

.filter .filter-star .rating {
	display: inline-block;
}

.filter .filter-price input {
	margin-top: 20px;
}

.filter .buttons {
	display: block
}

.filter #filter , #reset {
	margin: 20px;
	color: white;
	background: orangered;
	border: 2px solid gold;
	padding: 7px;
	border-radius: 15px;
	transition: 1s ease all;
}

.filter #filter:hover ,#reset:hover {
	background: yellow;
	color: black;
}

#myModal {
	z-index: 999999999;
}

.hidden {
	display: none;
}

.title {
	display: inline-block;
	width: 30%;
	margin: 0px;
	vertical-align: middle;
	line-height: 44px;
}

.title .title-site {
	font-size: 30px;
	font-weight: bold;
	color: gray;
	font-style: oblique;
	display: inline-block
}

.title img {
	width: 100px;
	height: 70px;
}

.cart .badge-notify {
	background: red;
	position: absolute;
	top: -5px;
	right: -5px;
}

.search {
	display: inline-block;
	width: 60%;
	position: relative;
}

.search-bar {
	width: 130px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-image: url(https://www.w3schools.com/howto/searchicon.png);
	background-position: 10px 6px;
	background-repeat: no-repeat;
	padding: 5px 20px 5px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

.search-bar:focus {
	width: 80%;
}

.prices {
	width: 100px;
	margin: 0 5px;
}

.filter .filter-price {
	text-align: center;
}

img {
	width: 130px;
	height: 130px;
}

.name {
	color: red;
}

.item {
	padding: 20px 0;
	margin: 10px 0;
	text-align: center;
	background: white;
	border: 2px solid gray;
	border-radius: 5px;
	height: 300px;
}

.item-info .rating {
	margin: 3px 0;
	font-size: 20px;
}

.rating .fa-star {
	color: grey;
}

.rating1 .fa-star:nth-child(-n+1) {
	color: yellow;
}

.rating2 .fa-star:nth-child(-n+2) {
	color: yellow;
}

.rating3 .fa-star:nth-child(-n+3) {
	color: yellow;
}

.rating4 .fa-star:nth-child(-n+4) {
	color: yellow;
}

.rating5 .fa-star:nth-child(-n+5) {
	color: yellow;
}

.price {
	font-size: 16px;
	font-weight: bold;
	margin: 3px 0;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid gray;
	border-radius: 4px;
}

.btn:hover {
	color: #333;
}

.item .cart-btn {
	color: #fff;
	background-color: rgba(51, 255, 51,0.9);
	border-color: lightgray;
	margin-right: 5px;
}

.item .btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
}

.item .btn-compare {
	margin: 5px 0 0 0;
	background-color: rgb(250, 0, 0);
	color: pink;
	font-weight: bold;
	margin: 0 0 0 5px;
}

#shoppingCart {
	position: relative;
	top: 50px;
	width: 400px;
	height: auto;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 6px;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
	padding: 5px;
	visibility: hidden;
}

#shoppingCart.visible {
	visibility: visible;
	top: 70px;
}

.items {
	width: 100%;
	text-align: left;
	border-top: 1px solid #e5e5e5;
	padding: 15px;
}

.items li {
	list-style: none;
	border-bottom: 1px solid #e5e5e5;
}

.items .suma, .items .cart-name , .items .cart-price , .items .cart-count, .items .cart-img , .items .priceSum {
	display: inline-block;
	padding: 10px;
}

.items .cart-price {
	float: right;
	margin-right: 30px;
	font-size: 16px;
	font-weight: bold;
}

.items .cart-count {
	border: 2px solid lightgray;
	border-radius: 5px;
	padding: 0 10px;
	margin-left: 50px;
}

.items .priceSum {
	margin-left: 80px;
}

.items .removeItem {
	float: right;
	margin: 5px 0;
	padding: 5px;
	;
  font-weight: bold;
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
	cursor: pointer;
}

.items img {
	width: 30px;
	height: 30px;
	padding: 0;
}

input {
	width: 45px;
	text-align: center;
}

.modal-footer {
	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5;
}

.minus , .plus {
	background: gray;
	font-size: 20px;
	vertical-align: middle;
	padding: 1px 4px;
	margin-left: -4px;
	border-top: 1px solid gray;
	cursor: pointer;
}

.minus {
	margin-left: 20px;
}

.compare-items {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%,-50%);
	opacity: 0;
	width: 650px;
	background: white;
	border: 2px solid lightblue;
	border-radius: 5px;
	z-index: 9990;
}

.compare-list {
	width: 100%;
	bottom: 0;
  left: 0;
	position: fixed;
	background: white;
	border: 1px solid lightgray;
	display: none;
	opacity: 0;
	text-align: center;
	z-index: 9990;
}

.compare {
	margin: 0;
}

.compare .compare-item {
	display: inline-block;
	position: relative;
	padding: 5px;
	margin: 5px;
	font-size: 12px;
	border-bottom: 1px solid gray;
	color: rgba(255, 99, 71, 0.8);
	font-weight: bold;
}

.compare .compare-img , .compare .compare-name {
	display: inline-block;
}

.compare .compare-item img {
	width: 40px;
	height: 40px;
}

.deleteItem {
	display: none;
	top: -18px;
	right: 0px;
	position: absolute;
	background: white;
	padding: 2px 5px;
	margin-left: -20px;
	color: lightgray;
	font-weight: bold;
}

.compare-item:hover .deleteItem {
	display: block;
	cursor: pointer;
}

.deleteItem:hover {
	color: red;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
}

.compare-itm {
	text-align: center;
}

.compare-items .compare-img {
	border: none;
}

.compare-img img {
	width: 130px;
	height: 130px;
}

.compare-items .close {
	padding: 10px 20px
}

.items-compare {
	border-bottom: 1px solid gray;
	padding: 10px 10px;
	margin: 0 10px;
	font-size: 21px;
}

.compare-itm .compare-item {
	padding: 20px 5px;
}

.comp {
	border-bottom: 1px solid lightgray;
	padding-top: 10px;
}
@media only screen and (max-width: 600px) {
 .compare-items {
  width: 100%;
  font-size: 9px;
 }
 .compare-items img {
  width: 60px;
  height: 60px;
 }
}